@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-family:sans-serif;

}

*, *:before, *:after {
	box-sizing: inherit;
}

.btn{
	background-color: #E0F2F3;
	color: white;
	font-weight: bold;
	text-decoration: none;
	padding: 0.5em 1em;
	border-radius: 5px;
	display: inline-block;
	margin: 0.5em;
	font-size: 2em;
	background-image: linear-gradient(to right, #E040FB, #00BCD4);
}

.btn:hover,
.btn:active,
.btn:focus{
	color: #425152;
	text-transform: uppercase;
	background-image: linear-gradient(to bottom right, #E1BEE7, #B2EBF2);

};

.btn i{
	vertical-align: middle;
	padding-right: 3em;
}

